/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-jun-2018, 22:51:08
    Author     : Jibun
*/


.index{
    border-radius: 18px;
    box-shadow: 0px 2px 10px #d6d6d6;
    width: 40%;
    background-color: #D3D3D3;
}